@font-face {
    font-family: SketchCollege;
    src: url(SketchCollege.ttf);
}


body{
  margin: 0;
  padding: 0;

}

#container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'SketchCollege';
}

/*Start of style for Welcome Screen*/
#welcomeScreen{
  width: 500px;
  height: 500px;
  background: #000;
  color: #fff;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.8rem;
  /*display: none;*/
}

#welcomeScreen h2{
    font-weight: 100;

}

#btnContainer, #welcomeScreen header{
   width: 100%;
   height: 80px;
   margin: 0;
   padding: 0;
   text-align: center;
}

#btnContainer button{
  width: 80px;
  height: 80px;
  font-size: 3.5rem;
  margin: 0 10px 0 10px;
  border-radius: 80px;
  font-family: 'SketchCollege';
}
/*Start of style for Board*/
#board{
  width: 500px;
  height: 500px;
  background: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
  /*display: none;*/
}

/*Start of style for squares in board*/
#board div{
  /*background-color: #fff;*/
  width: 32%;
  height: 33.3%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 3.5rem;
}


#board #sq2, #board #sq5, #board #sq8{
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

#board #sq4, #board #sq5, #board #sq6{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
