<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tic-Tac-Toe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body ng-app="ngTicTacToe" ng-controller="ctrTicTacToe">
    <div id="container">

      <div id="welcomeScreen" ng-hide="hideWelcomeScreen">
          <header>
            <h2>Would you like to be X or O?</h2>
          </header>

          <div id="btnContainer">
             <button type="button" name="X" ng-click="playerSymbol('X')">X</button>
             <button type="button" name="O" ng-click="playerSymbol('O')">O</button>
          </div>
      </div>

      <div id="board" ng-hide="hideBoard">

        <div id="sq1" ng-click="placeSymbol(0)" ng-disabled="sq1Disabled">{{board[0]}}</div>
        <div id="sq2" ng-click="placeSymbol(1)" ng-disabled="sq2Disabled">{{board[1]}}</div>
        <div id="sq3" ng-click="placeSymbol(2)" ng-disabled="sq3Disabled">{{board[2]}}</div>
        <div id="sq4" ng-click="placeSymbol(3)" ng-disabled="sq4Disabled">{{board[3]}}</div>
        <div id="sq5" ng-click="placeSymbol(4)" ng-disabled="sq5Disabled">{{board[4]}}</div>
        <div id="sq6" ng-click="placeSymbol(5)" ng-disabled="sq6Disabled">{{board[5]}}</div>
        <div id="sq7" ng-click="placeSymbol(6)" ng-disabled="sq7Disabled">{{board[6]}}</div>
        <div id="sq8" ng-click="placeSymbol(7)" ng-disabled="sq8Disabled">{{board[7]}}</div>
        <div id="sq9" ng-click="placeSymbol(8)" ng-disabled="sq9Disabled">{{board[8]}}</div>

      </div>
    </div>

  </body>
</html>
